<!DOCTYPE html>

<html>
<head>
    <title>About</title>
        <link rel="icon" href="/img/weather.png">
    <!-- relativepath -->
<!-- <link rel="styleSheet" href="./css/styles.css"> -->
<!-- absolutepath -->
<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
<img class="portrait" src="/img/img.png">

    </div>

{{!-- <h1> {{title}} </h1> --}}


{{!-- <p>Created by {{name}}</p> --}}

{{>footer}}

</body>

</html>
